<!DOCTYPE html>
<html>
  <head>
    <title>Request Header Parser Microservice</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://bootswatch.com/4/superhero/bootstrap.css">
    </head>
    <body>
      <div id="main">
          <h1>
            Request Header Parser Microservice
            </h1>
        <p>
          <h2>
         USAGE:
       </h2>
      
       <code >      
          <span class="location" ></span>api/whoami
       </code> <br>
          </p>
             
        </div>
        <script src="./client.js"></script>
    </body>
    <footer>
      <a href="https://twitter.com/RoardiLeone">
        Twitter <em>@RoardiLeone</em>
      </a>
    </footer>
</html>